[submodule "src/python_projects/ai-for-beginners"]
	path = src/python_projects/ai-for-beginners
	url = https://github.com/nyguerrillagirl/AI-For-Beginners.git
[submodule "src/python_projects/arjan_codes_examples"]
	path = src/python_projects/arjan_codes_examples
	url = https://github.com/arjancodes/examples.git
[submodule "src/intellij_projects/AiJavaLabs"]
	path = src/intellij_projects/AiJavaLabs
	url = https://github.com/nyguerrillagirl/AiJavaLabs.git
