table.BooksList {
  border-collapse: collapse;
}

.BooksList th {
  border-bottom: 3px solid black;
}

.BooksList tr:nth-child(2n) {
  background-color: #ddd;
}

.BooksList tr.Highlight {
  background-color: yellow;
}

.BooksList td {
  padding: 5px 10px;
}
