.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 400px;
}

.App2 {
  text-align: center;
  display: flex;
  flex-direction: column;   /* makes the button appear on its own line */
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}
.App2 button {
  align-self: center;   /* or: flex-start, if you want it left-aligned */
  width: auto;          /* ensures it shrinks to fit its content */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

p {
  margin-top: 0;
}

input {
  margin: 15px 0;
  padding: 10px;
}

.submit {
  padding: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.useContext {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto 500px;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.todoItem {
  border: 1px solid #eee;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.todoItem p {
  margin: 0;
}